@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);

// Text
$font-stack: "Open Sans", sans-serif;
$text-primary: rgba(255, 255, 255, 0.87);
$text-secondary: rgba(255, 255, 255, 0.54);

// Title bar
$title-bar-background: #202225;
$title-bar-control-hover: rgba(255, 255, 255, 0.2);
$title-bar-control-active: rgba(255, 255, 255, 0.5);
$title-bar-control-close: #f44336;
$title-bar-control-close-active: #ba000d;
$title-bar-title-color: #fff;

// Whitespace
$whitespace-primary: #36393f;
$whitespace-secondary: #2f3136;

// Theme
$blurple: #7289da;
$blurple-hover: #667bc4;
$blurple-active: #8095de;
$red-btn: #ef5350;
$red-btn-hover: #f44336;
$red-btn-active: #b61827;
$warning-btn: #ffa726;
$warning-btn-hover: #ff9800;
$warning-btn-active: #c77800;
$black: #262626;
$black-hover: #424242;
$black-active: #262626;
$blue: #003087;
$blue-hover: #0039a1;
$blue-active: #003087;
$gray: #7f8c8d;
$gray-hover: #95a5a6;

// Shadows
$boxshadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$boxshadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$boxshadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$boxshadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$boxshadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
$boxshadow-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
