// Text
$font-stack: "Open Sans", "Roboto", sans-serif;
$text-primary: rgba(255, 255, 255, 0.87);
$text-secondary: rgba(255, 255, 255, 0.54);

// Whitespace
$whitespace-primary: #333;
$whitespace-secondary: #23272a;

// Theme
$blurple: #7289da;
$blurple-hover: #667bc4;
