@import "theme";

// Reset
* {
    margin: 0;
    max-width: 100%;
    font-family: $font-stack;
}

// Application
body {
    background: $whitespace-secondary url("../images/bg.png") no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// Main
.landing {
    margin-top: 50px;
    text-align: center;
    flex: 1;

    .title {
        font-weight: 700;
        line-height: 44px;
        color: #fff;
    }

    .tagline {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 12px 0 24px;
        color: $text-secondary;
    }

    .download-button {
        height: 45px;
        cursor: pointer;
        border: none;
        border-radius: 3px;
        font-size: 15px;
        line-height: 45px;
        background-color: $blurple;
        color: #fff;
        transition: all 0.35s cubic-bezier(0.25, 0.25, 0.315, 1.35);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 6px 0px;
    }

    .download-button:hover {
        background-color: $blurple-hover;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 6px 0px;
    }

    .social {
        margin-top: 25px;
        padding: 10px;
        display: flex;
        justify-content: center;

        .icon {
            height: 25px;
            width: auto;
            padding: 0 10px;
            cursor: pointer;
            opacity: 0.8;
            transition: all 0.35s cubic-bezier(0.25, 0.25, 0.315, 1.35);
        }

        .icon:hover {
            opacity: 1;
        }
    }
}

.carousel-caption {
    bottom: 0px;
    padding: 0;
}

.showcase {
    display: grid;
    grid-template-columns: 3;
    padding-top: 25px;
    flex: 2;

    .platform-title {
        font-size: 25px;
        text-align: center;
        color: $text-primary;
        margin-top: 15px;
    }

    img {
        display: block;
        margin: 0 auto;
        border-radius: 3px;
        box-shadow: $boxshadow-3;
        transition: $boxshadow-transition;
    }

    img:hover {
        box-shadow: $boxshadow-5;
    }

    .playstation-3 {
        grid-column: 1;
    }

    .playstation-4 {
        grid-column: 2;
    }
    
    .playstation-5 {
        grid-column: 3;
    }

    .playstation-vita {
        grid-column: 4;
    }
}

// Footer
.footer-image {
    margin-bottom: 0;
}

footer {
    .credit {
        text-align: center;
        color: $text-secondary;

        a {
            color: $text-primary;
        }

        a:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    margin-bottom: 5px;
}

// Mobile
@mixin max-width($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@include max-width(1000px) {
    .showcase {
        .platform-title {
            margin-bottom: 50px;
        }

        .playstation-3 {
            grid-column: 1;
            grid-row: 1;
        }

        .playstation-4 {
            grid-column: 1;
            grid-row: 2;
        }

        .playstation-vita {
            grid-column: 1;
            grid-row: 3;
        }
    }
}
